@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    background-color: #606060;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vh;
}

.sb-root {
    height: calc(100% - 14px);
    padding: 7px;

    & > * {
        height: 100%;
    }
}

.sb-layout {
    display: flex;

    & > * {
        flex: 1;
    }

    &.sb-layout-horizontal {
        flex-direction: row;
    }

    &.sb-layout-vertical {
        flex-direction: column;
    }
}

.sb-widget-frame {
    border: 1px solid black;
    margin: 7px;
    background-color: black;
    box-shadow: 0 0 7px #303030;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
